:root {
  --sk-cyan-darker: #2a6280;
  --sk-cyan-dark: #30799c;
  --sk-cyan: #3499cd;

  --sk-orange-dark: #e07200;
  --sk-orange: #ff9c34;
  --sk-orange-light: #ffb260;
  --sk-orange-lighter: #fff3cd;
  --sk-orange-lightest: #fff3d3;

  --sk-text-dark: #222832;

  --sk-background-dim-light: #f8f8f8;
  --sk-background-dim-dark: #222222;
}
