/** This is the styling for install.rst. It is partially vendored from the pytorch
  * "Get Started" page: https://pytorch.org/get-started/locally/ */

/* Installation options grid */

div.sk-install-options-grid {
  div.headings {
    @media screen and (max-width: 768px) {
      display: none;  // hide on mobile
    }
  }

  div.title-block {
    border: 2px solid #ccc;
    margin: .0625rem;
    height: 2.5rem;
    font-size: 1rem;
    color: #6c6c6d;
    line-height: 1.25rem;
    display: flex;
    align-items: center;

    &.mobile-heading {
      @media screen and (min-width: 768px) {
        display: none;  // hide on desktop
      }
    }
  }

  div.block {
    margin-bottom: 0.0625rem;
    height: 2.5rem;
    display: flex;
    align-items: center;
  }

  div.option {
    border: 2px solid #fff;
    background-color: var(--sk-orange-lightest);
    cursor: pointer;

    &.selected {
      background-color: var(--sk-orange);
    }
  }
}

/* Instruction block */

div#skInstallInstructions {
  &[data-os="windows"] pre.sk-install-prompt > span:before {
    content: "> ";
  }

  &[data-os="linux"], &[data-os="macos"] {
    pre.sk-install-prompt > span:before {
      content: "$ ";
    }
  }
}
